<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>
  

<div class="topnav" id="myTopnav">
    <div class="brand">
       <h1><a href="#home" >HODLINFO</a></h1> 
        <p>Powered By <span>Finstreet</span></p>
    
    </div>
    <div>
        <div class="dropdown">
            <button onclick="firstDropdown()" class="dropbtn">INR</button>
            <div id="first_dropdown" class="dropdown-content">
              <a href="">INR</a>
            </div>
          </div>
          <div class="dropdown">
            <button onclick="secondDropdown()" class="dropbtn">BTC</button>
            <div id="second_dropdown" class="dropdown-content">
              <a href="">BTC</a>
              <a href="">ETC</a>
              <a href="">USDT</a>
              <a href="">XRP</a>
              <a href="">TRX</a>
              <a href="">DASH</a>
              <a href="">ZEC</a>
              <a href="">XEM</a>
               <a href="">IOST</a>
               <a href="">WIN</a>
               <a href="">BTT</a>
               <a href="">WRX</a>
            
            </div>
          </div>
         </div>
        <div class="left_navbar">
         
          <button class="telegram" >Connect Telegram</button>
         
          <label class="switch" >
            <input onchange="myFunction()"  type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
  
  
  
</div>
<div class="body">

    <img src="images\picture1.png" alt="">

  <div class="table">
    <table class="css-serial table-borderless text-center" >
        <thead>
          <th class="align-middle table_head">#</th>
          <th class="align-middle table_head">Name</th>
          <th class="align-middle table_head">Last Traded Price</th>
          <th class="align-middle table_head">Buy/Sell Price</th>
          <th class="align-middle table_head">Volume</th>
          <th class="align-middle table_head">Base unit</th>
        </thead>
        <tr id="td" >
          <%  values.forEach(function(value){ %>

        
            <td  class="align-middle table-data"><h4 class="table-text"></h4> </td>
            <td class="align-middle table-data"><h4 class="table-text"><%=value.name%></h4> </td>
            <td class="align-middle table-data"><h4 class="table-text"><%=value.last%></h4> </td>
            <td class="align-middle table-data"><h4 class="table-text"><%=value.buy%>/<%=value.sell%></h4> </td>
  
            <td class="align-middle table-data"><h4 class="table-text"><%=value.volume%></h4> </td>
            <td class="align-middle table-data"><h4 class="table-text"><%=value.base_unit%></h4> </td>
     
          </tr>
            
           
            <% }) %>
         
      
      </table>
  </div>  
        <img src="images\picture2.png" alt="">
 
 

</div>
    

<script src="script/script.js"></script>
</body>
</html>